/* This stylesheet is used to style the admin option form of the widget. */

.advanced_wordpress_configuration_plugin {

}

.advanced_wordpress_configuration_plugin h3 {
    margin: 0;
    padding: 0.6em 0 0.3em;
    border-top: 1px solid #ddd;
}

.advanced_wordpress_configuration_plugin p.note {
    margin: 0;
}

.advanced_wordpress_configuration_plugin table.form-table {
    margin-bottom: 2em;
}